*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{ text-align: center;
    padding-top: 2rem;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: pink;
    min-height: 100vh;
}

.only {
    background-color: white;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 30rem;
    height: 12rem;
    padding: 1rem 2rem;
}

h1 {
    color: #B70569;
    font-size: 20px;
    font-family: Times New Roman;
    margin-bottom: .5rem;
}

p {
    color: #000000;
    font-size: 18px;
    margin-bottom: 1rem;
}

span {
    color:  #B70569;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-radius: 8px;
}

.first {
    width: 12rem;
    height: 12rem;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

img {
    width: 4rem;
    height: 4rem;
}

.flex-container {
    display: flex;
}
